<div class="col-md-5">
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-user-tag"></i>
            </div>
        </div>
        <select name="selectRole" #t (change)="roleForm(t.value)">
            <option [value]="5" selected="selected">Choose a role to select</option>
            <option [value]="0">Admins</option>
            <option [value]="1">Players</option>
            <option [value]="2">Coaches</option>
            <option [value]="3">Medics</option>
            <option [value]="4">Guests</option>
        </select>
      </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-search"></i>
            </div>
        </div>
       <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a use by name or a bday">   
      </div>
</div>
</div>

<table class="table table-hover">
    <tr *ngFor="let ud of service.list | filter:searchText">
      <td *ngIf="!isGuest" (click)="populateForm(ud)">{{ud.ULogin}}</td>
      <td *ngIf="!isReadonly" (click)="populateForm(ud)">{{ud.URole}}</td>
      <td (click)="populateForm(ud)">{{ud.UFullname}}</td>
      <td (click)="populateForm(ud)">{{ud.UBdate}}</td>
      <td *ngIf="!isGuest" (click)="populateForm(ud)">{{ud.ULastmed}}</td>
      <td *ngIf="!isGuest" (click)="populateForm(ud)">{{ud.ULasttran}}</td>
      <td (click)="populateForm(ud)"><img width="71" height="95" src="{{ud.UImg}}"></td>
      <td *ngIf="!isReadonly">
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ud.UId)"></i>
      </td>
    </tr>
  </table>