<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/home">HOME</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
  
<div class="jumbtron">
    <h1 class="display-4 text-center">Information about all club members</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <app-user-detail></app-user-detail>
      </div>
      <div class="col-md-8">
        <app-user-detail-list></app-user-detail-list>
      </div>
    </div>
  </div>