<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="UId" [value]="service.formData.UId">
    <div class="form-group">
        <div class="input-group" *ngIf="!isGuest">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="ULogin.valid" [class.red-icon]="ULogin.invalid && ULogin.touched"></i>
                </div>
            </div>
            <input [readonly]="isReadonly" name="ULogin" #ULogin="ngModel" [(ngModel)]="service.formData.ULogin" class="form-control" placeholder="User login" required maxlength="20" minlength="3">        
        </div>
    </div>
    <!--  -->
    <div class="form-group" *ngIf="!isReadonly">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-tag" [class.green-icon]="URole.valid" [class.red-icon]="URole.invalid && URole.touched"></i>
                    </div>
                </div>
                <input [readonly]="isReadonly" name="URole" #URole="ngModel" [(ngModel)]="service.formData.URole" class="form-control" placeholder="User role" required maxlength="1" minlength="1">        
            </div>
        </div>
        <!--  -->
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle" [class.green-icon]="UFullname.valid" [class.red-icon]="UFullname.invalid && UFullname.touched"></i>
                        </div>
                    </div>
                    <input [readonly]="isReadonly" name="UFullname" #UFullname="ngModel" [(ngModel)]="service.formData.UFullname" class="form-control" placeholder="Fullname" required maxlength="20" minlength="5">        
                </div>
            </div>
            <!--  -->
            <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-calendar-day" [class.green-icon]="UBdate.valid" [class.red-icon]="UBdate.invalid && UBdate.touched"></i>
                            </div>
                        </div>
                        <input type="date" [readonly]="isReadonly" name="UBdate" #UBdate="ngModel" [(ngModel)]="service.formData.UBdate" class="form-control" >        
                    </div>
                </div>
                <!--  -->
                <div class="form-group" *ngIf="!isGuest">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fas fa-notes-medical" [class.green-icon]="ULastmed.valid" [class.red-icon]="ULastmed.invalid && ULastmed.touched"></i>
                                </div>
                            </div>
                            <input [readonly]="isMedic" name="ULastmed" #ULastmed="ngModel" [(ngModel)]="service.formData.ULastmed" class="form-control" placeholder="Attended/Be away && Date">        
                        </div>
                    </div>
                    <!--  -->
                    <div class="form-group" *ngIf="!isGuest">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                        <i class="far fa-futbol" [class.green-icon]="ULasttran.valid" [class.red-icon]="ULasttran.invalid && ULasttran.touched"></i>
                                    </div>
                                </div>
                                <input [readonly]="isCoach" name="ULasttran" #ULasttran="ngModel" [(ngModel)]="service.formData.ULasttran" class="form-control" placeholder="Attended/Be away && Date" >        
                            </div>
                        </div>
                        <!--  -->
                        <div class="form-group" *ngIf="!isReadonly">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                            <i class="fas fa-images" [class.green-icon]="UImg.valid" [class.red-icon]="UImg.invalid && UImg.touched"></i>
                                        </div>
                                    </div>
                                    <input [readonly]="isReadonly" name="UImg" #UImg="ngModel" [(ngModel)]="service.formData.UImg" class="form-control" placeholder="You should copy URL image and input text to this box" required minlength="5">        
                                </div>
                            </div>
    <!--  -->
    <div class="form-group" *ngIf="!isReadonly || !isMedic || !isCoach">
        <button class="btn btn-success btn-lg bnt-block" type="submit" [disabled]="form.invalid">
            <i class="fas fa-database"></i> Submit
        </button>
    </div>
</form>